<nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Camps</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-between w-100">
        <ul
          class="navbar-nav me-auto"
          *ngIf="accountService.currentUser$ | async"
        >
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/campgrounds">View Campgrounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/campground/new">Add Campground</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="errors">Errors</a>
          </li> -->
        </ul>

        <div
          class="dropdown"
          *ngIf="accountService.currentUser$ | async"
          dropdown
        >
          <a class="dropdown-toggle text-light welcome" dropdownToggle
            >Welcome user</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form
          [formGroup]="loginForm"
          *ngIf="(accountService.currentUser$ | async) === null"
          (ngSubmit)="login()"
          class="d-flex ms-auto"
          autocomplete="off"
        >
          <div>
            <input
              [class.is-invalid]="
                loginForm.get('username').errors &&
                loginForm.get('username').touched
              "
              class="form-control me-2"
              formControlName="username"
              type="text"
              placeholder="Username"
            />
            <div class="invalid-feedback">Username is required</div>
          </div>
          <div>
            <input
              [class.is-invalid]="
                loginForm.get('password').errors &&
                loginForm.get('password').touched
              "
              class="form-control me-2"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <div class="invalid-feedback">Password is required</div>
          </div>
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>
