<div class="row mt-3">
  <h1 class="text-center text-primary">Add New Camp Site</h1>
  <div class="col-6 offset-3">
    <form
      [formGroup]="addCampgroundForm"
      (submit)="addCampground()"
      autocomplete="off"
    >
      <hr />
      <div class="form-group mt-3">
        <input
          [class.is-invalid]="
            addCampgroundForm.get('title').errors &&
            addCampgroundForm.get('title').touched
          "
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="title"
        />
        <div class="invalid-feedback">Title is required</div>
      </div>

      <div class="form-group mt-3">
        <input
          [class.is-invalid]="
            addCampgroundForm.get('location').errors &&
            addCampgroundForm.get('location').touched
          "
          type="text"
          class="form-control"
          formControlName="location"
          placeholder="location"
        />
        <div class="invalid-feedback">location is required</div>
      </div>
      <!-- sometimes users might not have the image yet, TODO get a placeholder image -->
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="image" />
      </div>
      <div class="form-group mt-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ZAR</span>
          </div>
          <input
            [class.is-invalid]="
              addCampgroundForm.get('price').errors &&
              addCampgroundForm.get('price').touched
            "
            type="text"
            class="form-control"
            formControlName="price"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <div class="invalid-feedback">Price is required</div>
      </div>
      <div class="form-group mt-3">
        <textarea
          [class.is-invalid]="
            addCampgroundForm.get('description').errors &&
            addCampgroundForm.get('description').touched
          "
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="description"
        ></textarea>
        <div class="invalid-feedback">Description is required</div>
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-success mr-2">Add Campground</button>
        <button class="btn btn-danger cancel" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
